html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* HACK: 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  /* 16px */
  font-size: 1.6rem;
  /*line-height es el espacio entre lineas*/
  line-height: 2;
  
  /* Fondo general */
  background-color: #0a192f; /* un azul oscuro típico */
  transition: background-color 0.3s ease;

}


