
.navbar {
  display: flex;
  justify-content: space-between; /* logo a la izquierda, links a la derecha */
  align-items: center;
  padding: 1rem 2rem;
  border-top: 2px solid #e1e1e1; /* línea superior */
  background-color: #fff;
}


.navbar a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: #007acc;
}
